In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('/content/StarWars.csv', sep=";")

Описание данных
– respondentID — идентификационный номер респондента
– seen — ответ на вопрос, видел ли респондент хотя бы один фильм из серии «Звездных войн» (да/нет)
– fan — ответ на вопрос, считает ли респондент себя фанатом серии фильмов (да/нет)
– gender — пол респондента (М/Ж)
– age_group — возрастная группа, к которой принадлежит респондент (18-29, 30-44, 45-60, > 60)
– income — доход респондента в долларах США (0 - 24.999, 25.000 - 49.999, 50.000 - 99.999, 100.000 - 149.999, 150.000+)
– loc — регион проживания респондента (в США)
– yoda — отношение респондента к персонажу серии (Йоде)
– princess_leia_organa — отношение респондента к персонажу серии (принцессе Лее Органе)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1186 entries, 0 to 1185
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   respondentID          1186 non-null   int64
 1   seen                  1186 non-null   object
 2   fan                   836 non-null    object
 3   gender                1046 non-null   object
 4   age_group             1046 non-null   object
 5   income                858 non-null    object
 6   loc                   1043 non-null   object
 7   yoda                  826 non-null    object
 8   princess_leia_organa  831 non-null    object
dtypes: int64(1), object(8)
memory usage: 83.5+ KB

In [7]:
df.age_group

0       18-29
1       18-29
2       18-29
3       18-29
4       18-29
        ...
1181    18-29
1182    30-44
1183    30-44
1184    45-60
1185     > 60
Name: age_group, Length: 1186, dtype: object

Укажите, верно ли следующее утверждение: все женщины старше 60 лет, входящие в категорию с наивысшим доходом и являющиеся фанатами серии фильмов, проживают в одном регионе.

In [13]:
df[(df["age_group"] == "> 60") & (df["gender"] == "Ж") & (df["income"] == "150.000+") & (df["fan"] == "да")]

,respondentID,seen,fan,gender,age_group,income,loc,yoda,princess_leia_organa
162,3291141478,да,да,Ж,> 60,150.000+,Тихоокеанский,очень нравится,очень нравится
522,3290342102,да,да,Ж,> 60,150.000+,Северо-Западный центральный,очень нравится,очень нравится
671,3289963393,да,да,Ж,> 60,150.000+,Горный,очень нравится,очень нравится

Какой регион проживания чаще всего встречается в данных? Выберите один верный ответ.

In [14]:
df["loc"].value_counts()

Северо-Восточный центральный    181
Тихоокеанский                   175
Южно-Атлантический              170
Средне-Атлантический            122
Юго-Западный центральный        110
Северо-Западный центральный      93
Горный                           79
Новая Англия                     75
Юго-Восточный центральный        38
Name: loc, dtype: int64

Сколько респондентов не назвали свой доход? Выберите один верный ответ.

In [16]:
df["income"].isnull().sum()

328

Скольким респондентам одновременно очень нравятся Йода и принцесса Лея Органа? Выберите один верный ответ.

In [17]:
df["yoda"].value_counts()

очень нравится              605
нравится                    144
отношусь нейтрально          51
не знаю такого персонажа     10
очень не нравится             8
не нравится                   8
Name: yoda, dtype: int64

In [18]:
df["princess_leia_organa"].value_counts()

очень нравится              547
нравится                    210
отношусь нейтрально          48
не нравится                  12
не знаю такого персонажа      8
очень не нравится             6
Name: princess_leia_organa, dtype: int64

In [20]:
df[(df["yoda"] == "очень нравится") & (df["princess_leia_organa"] == "очень нравится")]

,respondentID,seen,fan,gender,age_group,income,loc,yoda,princess_leia_organa
0,3292879998,да,да,М,18-29,NaN,Южно-Атлантический,очень нравится,очень нравится
3,3292763116,да,да,М,18-29,100.000 - 149.999,Северо-Западный центральный,очень нравится,очень нравится
5,3292719380,да,да,М,18-29,25.000 - 49.999,Средне-Атлантический,очень нравится,очень нравится
7,3292663732,да,да,М,18-29,NaN,Южно-Атлантический,очень нравится,очень нравится
9,3292640424,да,нет,М,18-29,25.000 - 49.999,Тихоокеанский,очень нравится,очень нравится
...,...,...,...,...,...,...,...,...,...
1177,3288396374,да,нет,М,> 60,50.000 - 99.999,Тихоокеанский,очень нравится,очень нравится
1179,3288391812,да,да,Ж,45-60,0 - 24.999,Северо-Западный центральный,очень нравится,очень нравится
1180,3288389603,да,да,Ж,45-60,0 - 24.999,Тихоокеанский,очень нравится,очень нравится
1182,3288378779,да,да,Ж,30-44,50.000 - 99.999,Горный,очень нравится,очень нравится
1184,3288373068,да,да,Ж,45-60,100.000 - 149.999,Северо-Восточный центральный,очень нравится,очень нравится

Сколько респондентов не видели ни одного фильма серии, но считают себя ее фанатами? Введите ответ в виде целого числа.

In [21]:
df[(df["seen"] == "нет") & (df["fan"] == "да")]

Empty DataFrame
Columns: [respondentID, seen, fan, gender, age_group, income, loc, yoda, princess_leia_organa]
Index: []

In [22]:
df["seen"].value_counts()

да     936
нет    250
Name: seen, dtype: int64

In [23]:
df[(df["gender"] == "М")]

,respondentID,seen,fan,gender,age_group,income,loc,yoda,princess_leia_organa
0,3292879998,да,да,М,18-29,NaN,Южно-Атлантический,очень нравится,очень нравится
1,3292879538,нет,NaN,М,18-29,0 - 24.999,Юго-Западный центральный,NaN,NaN
2,3292765271,да,нет,М,18-29,0 - 24.999,Северо-Западный центральный,не знаю такого персонажа,нравится
3,3292763116,да,да,М,18-29,100.000 - 149.999,Северо-Западный центральный,очень нравится,очень нравится
4,3292731220,да,да,М,18-29,100.000 - 149.999,Северо-Западный центральный,нравится,нравится
...,...,...,...,...,...,...,...,...,...
1153,3288429390,нет,NaN,М,30-44,50.000 - 99.999,Юго-Западный центральный,NaN,NaN
1157,3288423088,нет,NaN,М,45-60,100.000 - 149.999,Средне-Атлантический,NaN,NaN
1164,3288415166,да,нет,М,45-60,100.000 - 149.999,Средне-Атлантический,отношусь нейтрально,нравится
1169,3288408698,да,да,М,45-60,25.000 - 49.999,Южно-Атлантический,очень нравится,очень нравится
1177,3288396374,да,нет,М,> 60,50.000 - 99.999,Тихоокеанский,очень нравится,очень нравится

Посмотрите на мужчин, проживающих в горном районе. В ответ запишите ID респондента, входящего в категорию с наивысшим доходом при заданных условиях.

In [27]:
df[(df["gender"] == "М") & (df["loc"] == "Горный") & (df["income"] == "150.000+")]

,respondentID,seen,fan,gender,age_group,income,loc,yoda,princess_leia_organa
169,3291077381,да,нет,М,45-60,150.000+,Горный,нравится,отношусь нейтрально

Укажите, верно ли следующее утверждение: фанатов серии фильмов в возрастной категории 45-60 меньше, чем не-фанатов в возрастной категории 18-29.

In [28]:
df[(df["fan"] == "да") & (df["age_group"] == "45-60")]

,respondentID,seen,fan,gender,age_group,income,loc,yoda,princess_leia_organa
143,3291364062,да,да,М,45-60,NaN,Южно-Атлантический,очень нравится,очень нравится
163,3291139156,да,да,Ж,45-60,NaN,Северо-Западный центральный,очень нравится,очень нравится
175,3291052728,да,да,М,45-60,50.000 - 99.999,Юго-Западный центральный,очень нравится,очень нравится
176,3291051343,да,да,М,45-60,0 - 24.999,Средне-Атлантический,нравится,нравится
177,3291045360,да,да,М,45-60,NaN,Юго-Восточный центральный,очень нравится,очень нравится
...,...,...,...,...,...,...,...,...,...
1169,3288408698,да,да,М,45-60,25.000 - 49.999,Южно-Атлантический,очень нравится,очень нравится
1175,3288401136,да,да,Ж,45-60,50.000 - 99.999,Юго-Западный центральный,нравится,нравится
1179,3288391812,да,да,Ж,45-60,0 - 24.999,Северо-Западный центральный,очень нравится,очень нравится
1180,3288389603,да,да,Ж,45-60,0 - 24.999,Тихоокеанский,очень нравится,очень нравится
1184,3288373068,да,да,Ж,45-60,100.000 - 149.999,Северо-Восточный центральный,очень нравится,очень нравится

In [30]:
df[(df["fan"] == "нет") & (df["age_group"] == "18-29")].shape

(56, 9)

Сколько процентов (от общего числа респондентов) являются фанатами серии фильмов, проживают в Новой Англии и имеют доход 0 - 24.999 долларов? В ответ запишите число (процент от 0 до 100), округлите до целого.

In [32]:
df[(df["fan"] == "да") & (df["loc"] == "Новая Англия") & (df["income"] == "0 - 24.999")].shape

(9, 9)

In [33]:
df.shape

(1186, 9)

In [35]:
9 / 1186 * 100

0.7588532883642496