In [6]:
import pandas as pd
import scipy.stats as sp
import numpy as np

In [7]:
df = pd.read_csv("/content/MarvelComicCaracters.csv", sep=";")

In [8]:
df.head()

,name,align,eye,hair,sex,appearances,first_appearance
0,Spider-Man (Peter Parker),Добрый персонаж,Карие глаза,Каштановые волосы,Мужской персонаж,4043.0,1962.0
1,Captain America (Steven Rogers),Добрый персонаж,Голубые глаза,Белые волосы,Мужской персонаж,3360.0,1941.0
2,"Wolverine (James \""Logan\"" Howlett)",Нейтральный персонаж,Голубые глаза,Черные волосы,Мужской персонаж,3061.0,1974.0
3,"Iron Man (Anthony \""Tony\"" Stark)",Добрый персонаж,Голубые глаза,Черные волосы,Мужской персонаж,2961.0,1963.0
4,Thor (Thor Odinson),Добрый персонаж,Голубые глаза,Русые волосы,Мужской персонаж,2258.0,1950.0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16376 entries, 0 to 16375
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              16376 non-null  object
 1   align             13564 non-null  object
 2   eye               6609 non-null   object
 3   hair              9989 non-null   object
 4   sex               15522 non-null  object
 5   appearances       15280 non-null  float64
 6   first_appearance  15561 non-null  float64
dtypes: float64(2), object(5)
memory usage: 895.7+ KB

Сколько пропущенных значений в переменной appearances? Выберите один верный ответ.

In [10]:
df["appearances"].isnull().sum()

1096

Укажите, верно ли следующее утверждение: наибольший межквартильный размах по переменной appearances будет для злых персонажей. Вам понадобятся данные по типу персонажа (переменная align), удалите пропущенные значения по столбцу appearances и посчитайте требуемую меру разброса.

In [11]:
df.dropna(subset=['appearances'])[(df["align"] == "Злой персонаж")].describe()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

       appearances  first_appearance
count  6352.000000       6118.000000
mean      8.329660       1981.193200
std      25.725767         21.236701
min       1.000000       1939.000000
25%       1.000000       1968.000000
50%       3.000000       1987.000000
75%       6.000000       1997.000000
max     721.000000       2013.000000

In [12]:
df.dropna(subset=['appearances'])[(df["align"] == "Добрый персонаж")].describe()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

       appearances  first_appearance
count  4310.000000       4114.000000
mean     34.942691       1985.764706
std     159.591704         20.219680
min       1.000000       1939.000000
25%       2.000000       1975.000000
50%       5.000000       1990.000000
75%      15.000000       2003.000000
max    4043.000000       2013.000000

Сколько выбросов встречается по переменной appearances? Работайте с исходными данными, предварительно удалите пропущенные значения по столбцу appearances, используйте для нахождения выбросов межквартильный размах. Выберите один верный ответ.

In [13]:
new_df = df.dropna(subset=['appearances'])

In [14]:
new_df.describe()

        appearances  first_appearance
count  15280.000000      14665.000000
mean      17.033377       1984.692260
std       96.372959         19.806938
min        1.000000       1939.000000
25%        1.000000       1974.000000
50%        3.000000       1989.000000
75%        8.000000       2000.000000
max     4043.000000       2013.000000

In [15]:
new_df[(new_df['appearances'] < 1-1.5*7 ) | (new_df['appearances'] > 8+1.5*7)].describe()

       appearances  first_appearance
count  1938.000000       1919.000000
mean    107.050052       1980.697759
std     252.727290         16.510285
min      19.000000       1939.000000
25%      26.000000       1969.000000
50%      39.000000       1980.000000
75%      82.000000       1992.000000
max    4043.000000       2013.000000

In [16]:
new_df[(new_df['appearances'] < 1-1.5*7 ) | (new_df['appearances'] > 8+1.5*7)]

,name,align,eye,hair,sex,appearances,first_appearance
0,Spider-Man (Peter Parker),Добрый персонаж,Карие глаза,Каштановые волосы,Мужской персонаж,4043.0,1962.0
1,Captain America (Steven Rogers),Добрый персонаж,Голубые глаза,Белые волосы,Мужской персонаж,3360.0,1941.0
2,"Wolverine (James \""Logan\"" Howlett)",Нейтральный персонаж,Голубые глаза,Черные волосы,Мужской персонаж,3061.0,1974.0
3,"Iron Man (Anthony \""Tony\"" Stark)",Добрый персонаж,Голубые глаза,Черные волосы,Мужской персонаж,2961.0,1963.0
4,Thor (Thor Odinson),Добрый персонаж,Голубые глаза,Русые волосы,Мужской персонаж,2258.0,1950.0
...,...,...,...,...,...,...,...
1933,Annie (LMD) (Earth-616),Добрый персонаж,Зеленые глаза,NaN,Женский персонаж,19.0,2011.0
1934,George Tarleton (M.O.D.O.K. Superior) (Earth-616),Злой персонаж,Белые глаза,NaN,Мужской персонаж,19.0,2011.0
1935,Drusilla (Earth-616),Добрый персонаж,Черные глаза,Черные волосы,Женский персонаж,19.0,2013.0
1936,Tamara Devoux (Earth-616),Добрый персонаж,Темно-карие глаза,Черные волосы,Женский персонаж,19.0,2013.0
1937,Shogo Lee (Earth-616),Нейтральный персонаж,Темно-карие глаза,Черные волосы,Мужской персонаж,19.0,NaN

На основе данных, полученных в третьем номере, укажите, верно ли следующее утверждение: наибольшее количество выбросов по переменной appearances наблюдается у добрых персонажей.

In [17]:
new_df[((new_df['appearances'] < 1-1.5*7 ) | (new_df['appearances'] > 8+1.5*7)) & (new_df["align"] == "Добрый персонаж")]

,name,align,eye,hair,sex,appearances,first_appearance
0,Spider-Man (Peter Parker),Добрый персонаж,Карие глаза,Каштановые волосы,Мужской персонаж,4043.0,1962.0
1,Captain America (Steven Rogers),Добрый персонаж,Голубые глаза,Белые волосы,Мужской персонаж,3360.0,1941.0
3,"Iron Man (Anthony \""Tony\"" Stark)",Добрый персонаж,Голубые глаза,Черные волосы,Мужской персонаж,2961.0,1963.0
4,Thor (Thor Odinson),Добрый персонаж,Голубые глаза,Русые волосы,Мужской персонаж,2258.0,1950.0
5,Benjamin Grimm (Earth-616),Добрый персонаж,Голубые глаза,Без волос,Мужской персонаж,2255.0,1961.0
...,...,...,...,...,...,...,...
1930,Anti-Venom (Symbiote) (Earth-616),Добрый персонаж,Красные глаза,Без волос,Безполый персонаж,19.0,2008.0
1932,Adam Brashear (Earth-616),Добрый персонаж,Темно-карие глаза,Черные волосы,Мужской персонаж,19.0,2009.0
1933,Annie (LMD) (Earth-616),Добрый персонаж,Зеленые глаза,NaN,Женский персонаж,19.0,2011.0
1935,Drusilla (Earth-616),Добрый персонаж,Черные глаза,Черные волосы,Женский персонаж,19.0,2013.0
1936,Tamara Devoux (Earth-616),Добрый персонаж,Темно-карие глаза,Черные волосы,Женский персонаж,19.0,2013.0

In [18]:
new_df[((new_df['appearances'] < 1-1.5*7 ) | (new_df['appearances'] > 8+1.5*7)) & (new_df["align"] == "Злой персонаж")]

,name,align,eye,hair,sex,appearances,first_appearance
43,Victor von Doom (Earth-616),Злой персонаж,Темно-карие глаза,Каштановые волосы,Мужской персонаж,721.0,1962.0
47,Norman Osborn (Earth-616),Злой персонаж,Голубые глаза,NaN,Мужской персонаж,692.0,1964.0
69,Wilson Fisk (Earth-616),Злой персонаж,Голубые глаза,NaN,Мужской персонаж,503.0,1967.0
92,Sabretooth (Victor Creed),Злой персонаж,Янтарные глаза,Русые волосы,Мужской персонаж,382.0,1977.0
94,Johann Shmidt (Earth-616),Злой персонаж,Голубые глаза,Русые волосы,Мужской персонаж,376.0,1941.0
...,...,...,...,...,...,...,...
1916,Chesbro (Earth-616),Злой персонаж,NaN,NaN,Мужской персонаж,19.0,1997.0
1919,Nakia (Earth-616),Злой персонаж,Темно-карие глаза,Черные волосы,Женский персонаж,19.0,1998.0
1924,Profile (Earth-616),Злой персонаж,Темно-карие глаза,Каштановые волосы,Мужской персонаж,19.0,2006.0
1928,Aleksandra Nikolaevna (Earth-616),Злой персонаж,Голубые глаза,Черные волосы,Женский персонаж,19.0,2008.0
1934,George Tarleton (M.O.D.O.K. Superior) (Earth-616),Злой персонаж,Белые глаза,NaN,Мужской персонаж,19.0,2011.0

Создайте новую переменную, которая будет представлять собой прологарифмированную переменную appearances. Сколько выбросов получится по новой переменной? Работайте с исходными данными, предварительно удалите пропущенные значения по новому столбцу, используйте для нахождения выбросов три среднеквадратичных отклонения от среднего. Введите ответ в виде целого числа.

In [19]:
log_app = pd.DataFrame()

In [20]:
log_app["appearances"] = np.log(new_df["appearances"])

In [21]:
log_app["z-score"] = sp.stats.zscore(log_app["appearances"])

In [22]:
log_app.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15280 entries, 0 to 15279
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   appearances  15280 non-null  float64
 1   z-score      15280 non-null  float64
dtypes: float64(2)
memory usage: 358.1 KB

In [23]:
log_app[(log_app["z-score"] < -3) | (log_app["z-score"] > 3)]

     appearances   z-score
0       8.304742  5.179539
1       8.119696  5.041897
2       8.026497  4.972573
3       7.993282  4.947867
4       7.722235  4.746255
..           ...       ...
190     5.407172  3.024254
191     5.402677  3.020911
192     5.398163  3.017553
193     5.384495  3.007386
194     5.379897  3.003966

[195 rows x 2 columns]

Сколько выбросов получится по переменной appearancs? Работайте с исходными данными, предварительно удалите пропущенные значения по столбцу appearances, используйте для нахождения выбросов три среднеквадратичных отклонения от среднего. Введите ответ в виде целого числа.

In [24]:
new_df["z-score"] = sp.stats.zscore(new_df["appearances"])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [25]:
new_df[(new_df["z-score"] < -3) | (new_df["z-score"] > 3)]

,name,align,eye,hair,sex,appearances,first_appearance,z-score
0,Spider-Man (Peter Parker),Добрый персонаж,Карие глаза,Каштановые волосы,Мужской персонаж,4043.0,1962.0,41.776224
1,Captain America (Steven Rogers),Добрый персонаж,Голубые глаза,Белые волосы,Мужской персонаж,3360.0,1941.0,34.688942
2,"Wolverine (James \""Logan\"" Howlett)",Нейтральный персонаж,Голубые глаза,Черные волосы,Мужской персонаж,3061.0,1974.0,31.586311
3,"Iron Man (Anthony \""Tony\"" Stark)",Добрый персонаж,Голубые глаза,Черные волосы,Мужской персонаж,2961.0,1963.0,30.548641
4,Thor (Thor Odinson),Добрый персонаж,Голубые глаза,Русые волосы,Мужской персонаж,2258.0,1950.0,23.253825
...,...,...,...,...,...,...,...,...
123,Mephisto (Earth-616),Злой персонаж,Белые глаза,Черные волосы,Мужской персонаж,316.0,1968.0,3.102285
124,Tabitha Smith (Earth-616),Добрый персонаж,Голубые глаза,Русые волосы,Женский персонаж,316.0,1985.0,3.102285
125,Jean-Paul Beaubier (Earth-616),Добрый персонаж,Голубые глаза,Черные волосы,Мужской персонаж,313.0,1979.0,3.071155
126,Daniel Ketch (Earth-616),Нейтральный персонаж,Зеленые глаза,Каштановые волосы,Мужской персонаж,311.0,1990.0,3.050402
127,Neena Thurman (Earth-616),Добрый персонаж,Голубые глаза,Черные волосы,Женский персонаж,310.0,1992.0,3.040025

In [26]:
new_df[(new_df["z-score"] < -3) | (new_df["z-score"] > 3)].describe()

       appearances  first_appearance     z-score
count   128.000000        124.000000  128.000000
mean    789.273438       1968.532258    8.013299
std     654.825477         11.258554    6.794924
min     310.000000       1939.000000    3.040025
25%     374.750000       1963.000000    3.711916
50%     527.000000       1965.000000    5.291768
75%     914.500000       1975.250000    9.312737
max    4043.000000       2005.000000   41.776224

Сколько выбросов получится по переменной appearancs, если выбраны только женские персонажи? Работайте с исходными данными, выберите женских персонажей, удалите пропущенные значения по столбцу appearancs, используйте для нахождения выбросов z-оценку и три среднеквадратичных отклонения от среднего.

In [27]:
female_df = df.dropna(subset=['appearances'])[(df["sex"] == "Женский персонаж")]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [28]:
female_df.describe()

       appearances  first_appearance
count  3599.000000       3441.000000
mean     20.284801       1990.308341
std      81.514689         16.683614
min       1.000000       1939.000000
25%       2.000000       1981.000000
50%       4.000000       1993.000000
75%      11.000000       2004.000000
max    1713.000000       2013.000000

In [29]:
female_df["hair"].mode()

0    Черные волосы
dtype: object

In [30]:
female_df[(female_df['appearances'] < 2 - 1.5 * 9 ) | (female_df['appearances'] > 11 + 1.5 * 9)]["hair"].mode()

0    Черные волосы
dtype: object

In [31]:
female_df["z-score"] = sp.stats.zscore(female_df["appearances"])

In [32]:
female_df[(female_df['z-score'] < 3 ) | (female_df['z-score'] > -3)]

,name,align,eye,hair,sex,appearances,first_appearance,z-score
11,Susan Storm (Earth-616),Добрый персонаж,Голубые глаза,Русые волосы,Женский персонаж,1713.0,1961.0,20.768654
13,Ororo Munroe (Earth-616),Добрый персонаж,Голубые глаза,Белые волосы,Женский персонаж,1512.0,1975.0,18.302499
17,Mary Jane Watson (Earth-616),Добрый персонаж,Зеленые глаза,NaN,Женский персонаж,1304.0,1965.0,15.750457
24,Wanda Maximoff (Earth-616),Добрый персонаж,Зеленые глаза,Каштановые волосы,Женский персонаж,1161.0,1964.0,13.995928
26,Janet van Dyne (Earth-616),Добрый персонаж,Голубые глаза,NaN,Женский персонаж,1120.0,1963.0,13.492881
...,...,...,...,...,...,...,...,...
15256,Smasher 12 (Earth-616),Добрый персонаж,NaN,NaN,Женский персонаж,1.0,NaN,-0.236614
15270,Tori Raven (Earth-616),Нейтральный персонаж,NaN,NaN,Женский персонаж,1.0,NaN,-0.236614
15272,Tumult (Earth-616),Добрый персонаж,Голубые глаза,Черные волосы,Женский персонаж,1.0,NaN,-0.236614
15273,Vector (Ascendants) (Earth-616),Добрый персонаж,Черные глаза,Черные волосы,Женский персонаж,1.0,NaN,-0.236614
15279,Zamira (Earth-616),Добрый персонаж,Темно-карие глаза,Черные волосы,Женский персонаж,1.0,NaN,-0.236614

Сравните среднее значение по переменной appearancs в двух датафреймах — без выбросов, определенных по межквартильному размаху, и без выбросов, определенных по трем среднеквадратичным отклонениям от среднего. Будем считать, что границы датафреймов без выбросов содержат значения верхних и нижних границ, определенных по межквартильному размаху или среднеквадратичному отклонению от среднего. В ответ запишите число (наибольшее среднее из двух), округлите до целого.

In [33]:
new_df

,name,align,eye,hair,sex,appearances,first_appearance,z-score
0,Spider-Man (Peter Parker),Добрый персонаж,Карие глаза,Каштановые волосы,Мужской персонаж,4043.0,1962.0,41.776224
1,Captain America (Steven Rogers),Добрый персонаж,Голубые глаза,Белые волосы,Мужской персонаж,3360.0,1941.0,34.688942
2,"Wolverine (James \""Logan\"" Howlett)",Нейтральный персонаж,Голубые глаза,Черные волосы,Мужской персонаж,3061.0,1974.0,31.586311
3,"Iron Man (Anthony \""Tony\"" Stark)",Добрый персонаж,Голубые глаза,Черные волосы,Мужской персонаж,2961.0,1963.0,30.548641
4,Thor (Thor Odinson),Добрый персонаж,Голубые глаза,Русые волосы,Мужской персонаж,2258.0,1950.0,23.253825
...,...,...,...,...,...,...,...,...
15275,Visher-Rakk (Earth-616),Злой персонаж,NaN,NaN,NaN,1.0,NaN,-0.166373
15276,Weapon Red (Chinese Mutant) (Earth-616),Злой персонаж,Белые глаза,Черные волосы,Мужской персонаж,1.0,NaN,-0.166373
15277,Wolfgang von Roehm (Earth-616),Нейтральный персонаж,NaN,NaN,Мужской персонаж,1.0,NaN,-0.166373
15278,Xan (Earth-616),Злой персонаж,Желтые глаза,Черные волосы,Мужской персонаж,1.0,NaN,-0.166373
15279,Zamira (Earth-616),Добрый персонаж,Темно-карие глаза,Черные волосы,Женский персонаж,1.0,NaN,-0.166373

Выберите только злых персонажей. Сравните медиану по переменной appearances в двух датафреймах — с выбросами и без выбросов, определенных по межквартильному размаху. В ответ запишите число (наибольшее среднее из двух), округлите до целого.

In [34]:
new_df[new_df["align"] == "Злой персонаж"].describe()

       appearances  first_appearance      z-score
count  6352.000000       6118.000000  6352.000000
mean      8.329660       1981.193200    -0.090316
std      25.725767         21.236701     0.266948
min       1.000000       1939.000000    -0.166373
25%       1.000000       1968.000000    -0.166373
50%       3.000000       1987.000000    -0.145620
75%       6.000000       1997.000000    -0.114490
max     721.000000       2013.000000     7.304846

In [35]:
angry_df = new_df[new_df["align"] == "Злой персонаж"]

In [36]:
angry_df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

appearances            8.329660
first_appearance    1981.193200
z-score               -0.090316
dtype: float64

In [37]:
angry_df[(angry_df["appearances"] < 1-1.5*5) | (angry_df["appearances"] > 6+1.5*5)].mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

appearances           46.715241
first_appearance    1981.328398
z-score                0.308000
dtype: float64